body {
  background-color: #fff;
  width: 960px;
  margin: 0px auto 0px auto;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 300%;
}
/*KEEP THIS SECTION*/
/**************************************/
#user {
  margin-bottom: 15cm;
}

#choice {
  margin-bottom: 15cm;
}

#type {
  font-size: 500%;
  text-align: center;
}
/**************************************/

.column {
  width: 33.33%;
  float: left;
  text-align: left;
}